<h2><%= params[:team][:name] %></h3>
<h2>Team Motto: <%= params[:team][:motto] %></h3>

<% params[:team][:members].each_with_index do |member|%>
<h2>Hero Name: Amanda</h2>
<h3>Hero Power: Ruby</h3>
<h3>Hero Biography: I love Ruby!</h3>

<h2>Hero Name: Arel</h2>
<h3>Hero Power: JavaScript</h3>
<h3>Hero Biography: I love JavaScript!</h3>

<h2>Hero Name: Katie</h2>
<h3>Hero Power: Sinatra</h3>
<h3>Hero Biography: I love Sinatra!</h3>
