<h2><%= params[:team][:name] %></h3>
<h2>Team Motto: <%= params[:team][:motto] %></h3>

<% params[:team][:members].each_with_index do |member|%>
  <h2>Hero Name: <%= member[:name]%></h2>
  <h3>Hero Power: Ruby</h3>
  <h3>Hero Biography: I love Ruby!</h3>
<% end %>
